* {
  margin: 0;
  padding: 0;
  background: #c1c1c7;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#clock {
  position: relative;
  width: 100%;
  height: 100%;
}
.label {
  display: inline-block;
  text-align: center;
  padding: 0 2px;
  font-size: 12px;
  font-family: 楷体;
  transition: left 1s, top 1s;
  transform-origin: 0 0;
}

.fullScreen{
  position: fixed;
  width: 10wh;
}

button{
  border: none;
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 20px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
}

button:focus{
  outline: none;
}